body {
	--underline-color: #333;
}

body,
.mw-body,
.mw-page-container,
.infobox,
.vector-pinned-container,
.vector-dropdown .vector-dropdown-content,
.vector-dropdown-label-text,
.vector-page-titlebar::after
{
	color: var(--color);
	background-color: var(--bg-color);
	letter-spacing: var(--letter-spacing);
}

.vector-pinnable-header,
.vector-pinnable-element .vector-menu-heading
{
	border-bottom-color: var(--underline-color);
}

.vector-pinnable-header-toggle-button
{
	color: var(--color);
	background-color: var(--fig-bg-weak-color);
}

.cdx-button:enabled.cdx-button--weight-quiet,
.cdx-button.cdx-button--fake-button--enabled.cdx-button--weight-quiet
{
	background-color: var(--bg-color);
	border-color: var(--underline-color);
}

.mwe-popups-container,
.mwe-popups-extract
{
	color: var(--color);
	background-color: var(--fig-bg-color);
}

.mwe-popups-extract::after
{
	background-image: linear-gradient(90deg, transparent 0%, var(--fig-bg-color) 50%) !important;
}

.mw-parser-output .ombox,
li.gallerybox div.thumb
{
	background-color: #181818;
	border: 1px solid var(--underline-color);
}

.vector-toc {
	background-color: var(--bg-color);
}

.vector-toc-link {
	color: var(--color);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--h-color);
	border-color: var(--underline-color);
}

.header-container,
.vector-header-container
{
	display: none;
}

.vector-page-titlebar,
.vector-page-toolbar-container
{
	box-shadow: 0 1px var(--underline-color);
}

.vector-feature-zebra-design-disabled #vector-toc-pinned-container .vector-toc::after {
	background: linear-gradient(rgba(255,255,255,0), rgba(12,12,12,1));
}

figure[typeof~='mw:File/Thumb'],
figure[typeof~='mw:File/Thumb'] > figcaption,
figure[typeof~='mw:File/Thumb'] > :not(figcaption) .mw-file-element,
figure[typeof~='mw:File/Frame'],
figure[typeof~='mw:File/Frame'] > figcaption,
figure[typeof~='mw:File/Frame'] > :not(figcaption) .mw-file-element,
.cdx-button:enabled,
.cdx-button.cdx-button--fake-button--enabled
{
	background-color: var(--fig-bg-weak-color);
	border-color: var(--fig-border-color);
}
